#minimap {
    opacity: 0.5;
    -webkit-transition: opacity 0.2s linear;
    z-index: 9999;
    background-color: #000;
    position: fixed;
    right: 16px;
    top: 16px;
    display: none;
}

#viewport {
    position: absolute;
    border: 2px solid orangered;
}

#minimap, #canvas-box canvas {
    width: 200px;
    height: auto;
}

#minimap:hover {
    opacity:1.0;
}