#minimap {
    opacity: 0.2;

    z-index: 9999;
    background-color: #000;
    position: fixed;
    right: -160px;
    top: 0px;
    display: none;

    -moz-user-select: none; 
    -khtml-user-select: none; 
    -webkit-user-select: none; 
    -o-user-select: none; 
}

#viewport {
    opacity: 0.0;
    position: absolute;
    background-color: #999;
    border: 2px solid black;
}

#viewport:hover {
    cursor: move;
}

#minimap, #mm-image {
    display: block;
    width: 200px;
    height: auto;
}
/*
#minimap:hover {
    opacity:1.0;
}*/
