#minimap {
    opacity: 0.2;

    z-index: 9999;
    background-color: #000;
    position: fixed;
    right: -160px;
    top: 16px;
    display: none;
}

#viewport {
    position: absolute;
    border: 2px solid orangered;
}

#minimap, #canvas-box canvas {
    width: 200px;
    height: auto;
}
/*
#minimap:hover {
    opacity:1.0;
}*/
